<nz-layout class="view-layout wh-100 bg-white">
  <nz-header class="bg-white view-header">
    <button nz-button nzType="primary" class="margin-right-3">新建</button>
    <button nz-button nzType="primary" class="margin-right-3">打开</button>
    <button nz-button nzType="primary" class="margin-right-3">保存</button>
    <button nz-button nzType="primary" class="margin-right-3">另存为</button>
  </nz-header>
  <nz-content class="padding-2 box-sizing-box">
      <nz-layout class="view-layout wh-100">
        <nz-sider class="h-100 view-side " nzTheme="light" nzWidth="16%">
        </nz-sider>
        <nz-content class="bg-white">
        </nz-content>
      </nz-layout>
  </nz-content>
</nz-layout>
